aligned_features_all/aligned_all_FVs_biomed_metadata.csv
aligned_features_all/aligned_all_FVs_biomed.npz
aligned_features_all/aligned_all_FVs_ConceptCLIP_metadata.csv
aligned_features_all/aligned_all_FVs_ConceptCLIP.npz
aligned_features_all/aligned_all_FVs_CONCH_metadata.csv
aligned_features_all/aligned_all_FVs_CONCH.npz
aligned_features_all/aligned_all_FVs_CXRCLIP_metadata.csv
aligned_features_all/aligned_all_FVs_CXRCLIP.npz
aligned_features_all/aligned_all_FVs_DINOv2_metadata.csv
aligned_features_all/aligned_all_FVs_DINOv2.npz
aligned_features_all/aligned_all_FVs_EVA02-L-14-336_metadata.csv
aligned_features_all/aligned_all_FVs_EVA02-L-14-336.npz
aligned_features_all/aligned_all_FVs_FLAIR_metadata.csv
aligned_features_all/aligned_all_FVs_FLAIR.npz
aligned_features_all/aligned_all_FVs_INViT-L-16_metadata.csv
aligned_features_all/aligned_all_FVs_INViT-L-16.npz
aligned_features_all/aligned_all_FVs_llava-med_metadata.csv
aligned_features_all/aligned_all_FVs_llava-med.npz
aligned_features_all/aligned_all_FVs_llava-Mistral-7b_metadata.csv
aligned_features_all/aligned_all_FVs_llava-Mistral-7b.npz
aligned_features_all/aligned_all_FVs_llava-vicuna-13b-hf_metadata.csv
aligned_features_all/aligned_all_FVs_llava-vicuna-13b-hf.npz
aligned_features_all/aligned_all_FVs_LLM2CLIP-EVA_metadata.csv
aligned_features_all/aligned_all_FVs_LLM2CLIP-EVA.npz
aligned_features_all/aligned_all_FVs_LLM2CLIP-openai_metadata.csv
aligned_features_all/aligned_all_FVs_LLM2CLIP-openai.npz
aligned_features_all/aligned_all_FVs_medsiglip_metadata.csv
aligned_features_all/aligned_all_FVs_medsiglip.npz
aligned_features_all/aligned_all_FVs_MedTrinity_metadata.csv
aligned_features_all/aligned_all_FVs_MedTrinity.npz
aligned_features_all/aligned_all_FVs_MONET_metadata.csv
aligned_features_all/aligned_all_FVs_MONET.npz
aligned_features_all/aligned_all_FVs_resnet50_metadata.csv
aligned_features_all/aligned_all_FVs_resnet50.npz
aligned_features_all/aligned_all_FVs_SigLIP_metadata.csv
aligned_features_all/aligned_all_FVs_SigLIP.npz
aligned_features_all/aligned_all_FVs_swin_metadata.csv
aligned_features_all/aligned_all_FVs_swin.npz
aligned_features_all/aligned_all_FVs_UNI_metadata.csv
aligned_features_all/aligned_all_FVs_UNI.npz
aligned_features_all/aligned_all_FVs_VGG16_metadata.csv
aligned_features_all/aligned_all_FVs_VGG16.npz
aligned_features_all/aligned_all_FVs_ViT-B-16_metadata.csv
aligned_features_all/aligned_all_FVs_ViT-B-16.npz
aligned_features_all/aligned_all_FVs_ViT-g-14_metadata.csv
aligned_features_all/aligned_all_FVs_ViT-g-14.npz
aligned_features_all/aligned_all_FVs_ViT-L-14_metadata.csv
aligned_features_all/aligned_all_FVs_ViT-L-14.npz
aligned_features_all/removed_missing_DR_FVs_biomed.csv
aligned_features_all/removed_missing_DR_FVs_ConceptCLIP.csv
aligned_features_all/removed_missing_DR_FVs_CONCH.csv
aligned_features_all/removed_missing_DR_FVs_CXRCLIP.csv
aligned_features_all/removed_missing_DR_FVs_DINOv2.csv
aligned_features_all/removed_missing_DR_FVs_EVA02-L-14-336.csv
aligned_features_all/removed_missing_DR_FVs_FLAIR.csv
aligned_features_all/removed_missing_DR_FVs_INViT-L-16.csv
aligned_features_all/removed_missing_DR_FVs_llava-med.csv
aligned_features_all/removed_missing_DR_FVs_llava-Mistral-7b.csv
aligned_features_all/removed_missing_DR_FVs_llava-vicuna-13b-hf.csv
aligned_features_all/removed_missing_DR_FVs_LLM2CLIP-EVA.csv
aligned_features_all/removed_missing_DR_FVs_LLM2CLIP-openai.csv
aligned_features_all/removed_missing_DR_FVs_medsiglip.csv
aligned_features_all/removed_missing_DR_FVs_MedTrinity.csv
aligned_features_all/removed_missing_DR_FVs_MONET.csv
aligned_features_all/removed_missing_DR_FVs_resnet50.csv
aligned_features_all/removed_missing_DR_FVs_SigLIP.csv
aligned_features_all/removed_missing_DR_FVs_swin.csv
aligned_features_all/removed_missing_DR_FVs_UNI.csv
aligned_features_all/removed_missing_DR_FVs_VGG16.csv
aligned_features_all/removed_missing_DR_FVs_ViT-B-16.csv
aligned_features_all/removed_missing_DR_FVs_ViT-g-14.csv
aligned_features_all/removed_missing_DR_FVs_ViT-L-14.csv
aligned_features_drvalid/aligned_drvalid_FVs_biomed_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_biomed.npz
aligned_features_drvalid/aligned_drvalid_FVs_ConceptCLIP_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_ConceptCLIP.npz
aligned_features_drvalid/aligned_drvalid_FVs_CONCH_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_CONCH.npz
aligned_features_drvalid/aligned_drvalid_FVs_CXRCLIP_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_CXRCLIP.npz
aligned_features_drvalid/aligned_drvalid_FVs_DINOv2_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_DINOv2.npz
aligned_features_drvalid/aligned_drvalid_FVs_EVA02-L-14-336_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_EVA02-L-14-336.npz
aligned_features_drvalid/aligned_drvalid_FVs_FLAIR_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_FLAIR.npz
aligned_features_drvalid/aligned_drvalid_FVs_INViT-L-16_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_INViT-L-16.npz
aligned_features_drvalid/aligned_drvalid_FVs_llava-med_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_llava-med.npz
aligned_features_drvalid/aligned_drvalid_FVs_llava-Mistral-7b_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_llava-Mistral-7b.npz
aligned_features_drvalid/aligned_drvalid_FVs_llava-vicuna-13b-hf_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_llava-vicuna-13b-hf.npz
aligned_features_drvalid/aligned_drvalid_FVs_LLM2CLIP-EVA_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_LLM2CLIP-EVA.npz
aligned_features_drvalid/aligned_drvalid_FVs_LLM2CLIP-openai_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_LLM2CLIP-openai.npz
aligned_features_drvalid/aligned_drvalid_FVs_medsiglip_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_medsiglip.npz
aligned_features_drvalid/aligned_drvalid_FVs_MedTrinity_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_MedTrinity.npz
aligned_features_drvalid/aligned_drvalid_FVs_MONET_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_MONET.npz
aligned_features_drvalid/aligned_drvalid_FVs_resnet50_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_resnet50.npz
aligned_features_drvalid/aligned_drvalid_FVs_SigLIP_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_SigLIP.npz
aligned_features_drvalid/aligned_drvalid_FVs_swin_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_swin.npz
aligned_features_drvalid/aligned_drvalid_FVs_UNI_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_UNI.npz
aligned_features_drvalid/aligned_drvalid_FVs_VGG16_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_VGG16.npz
aligned_features_drvalid/aligned_drvalid_FVs_ViT-B-16_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_ViT-B-16.npz
aligned_features_drvalid/aligned_drvalid_FVs_ViT-g-14_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_ViT-g-14.npz
aligned_features_drvalid/aligned_drvalid_FVs_ViT-L-14_metadata.csv
aligned_features_drvalid/aligned_drvalid_FVs_ViT-L-14.npz
aligned_features_drvalid/removed_missing_DR_FVs_biomed.csv
aligned_features_drvalid/removed_missing_DR_FVs_ConceptCLIP.csv
aligned_features_drvalid/removed_missing_DR_FVs_CONCH.csv
aligned_features_drvalid/removed_missing_DR_FVs_CXRCLIP.csv
aligned_features_drvalid/removed_missing_DR_FVs_DINOv2.csv
aligned_features_drvalid/removed_missing_DR_FVs_EVA02-L-14-336.csv
aligned_features_drvalid/removed_missing_DR_FVs_FLAIR.csv
aligned_features_drvalid/removed_missing_DR_FVs_INViT-L-16.csv
aligned_features_drvalid/removed_missing_DR_FVs_llava-med.csv
aligned_features_drvalid/removed_missing_DR_FVs_llava-Mistral-7b.csv
aligned_features_drvalid/removed_missing_DR_FVs_llava-vicuna-13b-hf.csv
aligned_features_drvalid/removed_missing_DR_FVs_LLM2CLIP-EVA.csv
aligned_features_drvalid/removed_missing_DR_FVs_LLM2CLIP-openai.csv
aligned_features_drvalid/removed_missing_DR_FVs_medsiglip.csv
aligned_features_drvalid/removed_missing_DR_FVs_MedTrinity.csv
aligned_features_drvalid/removed_missing_DR_FVs_MONET.csv
aligned_features_drvalid/removed_missing_DR_FVs_resnet50.csv
aligned_features_drvalid/removed_missing_DR_FVs_SigLIP.csv
aligned_features_drvalid/removed_missing_DR_FVs_swin.csv
aligned_features_drvalid/removed_missing_DR_FVs_UNI.csv
aligned_features_drvalid/removed_missing_DR_FVs_VGG16.csv
aligned_features_drvalid/removed_missing_DR_FVs_ViT-B-16.csv
aligned_features_drvalid/removed_missing_DR_FVs_ViT-g-14.csv
aligned_features_drvalid/removed_missing_DR_FVs_ViT-L-14.csv
aligned_FVs_biomed_metadata.csv
aligned_FVs_biomed.npz
*.zip
pca_all_models_results/binary_auc_all_models.csv
pca_all_models_results/binary_factor_strongest_pc_summary.csv
pca_all_models_results/dr_spearman_all_models.csv
pca_all_models_results/model_dr_summary.csv
pca_all_models_results/ordinal_factor_strongest_pc_summary.csv
pca_all_models_results/ordinal_spearman_all_models.csv
pca_all_models_results/pca_model_info.csv
cv_pca_factor_heatmaps_sample/cv_pca_auc_factor_results.csv
cv_pca_factor_heatmaps_sample/cv_pca_spearman_factor_results.csv
cv_pca_factor_heatmaps_sample/fold01_selected_nuisance_pc_heatmap.png
cv_pca_factor_heatmaps_sample/fold01_train_auc_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold01_train_spearman_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold02_selected_nuisance_pc_heatmap.png
cv_pca_factor_heatmaps_sample/fold02_train_auc_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold02_train_spearman_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold03_selected_nuisance_pc_heatmap.png
cv_pca_factor_heatmaps_sample/fold03_train_auc_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold03_train_spearman_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold04_selected_nuisance_pc_heatmap.png
cv_pca_factor_heatmaps_sample/fold04_train_auc_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold04_train_spearman_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold05_selected_nuisance_pc_heatmap.png
cv_pca_factor_heatmaps_sample/fold05_train_auc_factor_heatmap.png
cv_pca_factor_heatmaps_sample/fold05_train_spearman_factor_heatmap.png
cv_pca_factor_heatmaps_sample/pc_nuisance_disease_score_table.csv
cv_pca_factor_heatmaps_sample/selected_nuisance_pc_long.csv
cv_pca_factor_heatmaps_sample/selected_nuisance_pc_remove_plan.csv
cv_pca_factor_heatmaps_sample/selected_nuisance_pc_stability_summary.csv
Kfold/kfold_pc_removal_6models/ALL_6models_kfold_performance.csv
Kfold/kfold_pc_removal_6models/ALL_6models_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/ALL_6models_removed_pc_summary.csv
Kfold/kfold_pc_removal_6models/ALL_6models_summary_by_model.csv
Kfold/kfold_pc_removal_6models/FVs_biomed_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_biomed_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/FVs_ConceptCLIP_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_ConceptCLIP_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/FVs_FLAIR_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_FLAIR_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/FVs_LLM2CLIP-EVA_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_LLM2CLIP-EVA_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/FVs_LLM2CLIP-openai_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_LLM2CLIP-openai_pc_selection_detail.csv
Kfold/kfold_pc_removal_6models/FVs_medsiglip_kfold_performance.csv
Kfold/kfold_pc_removal_6models/FVs_medsiglip_pc_selection_detail.csv
Kfold/kfold_pc_removal_one_model/FVs_medsiglip_kfold_performance.csv
Kfold/kfold_pc_removal_one_model/FVs_medsiglip_pc_selection_detail.csv
